<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv = 'cache-control' content = 'no-cache'>
  <meta http-equiv = 'expires' content = '0'>
  <meta http-equiv = 'pragma' content = 'no-cache'>
  <title>Web Scraping - Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body">
  <div class="container-fluid">
    <div class="Image">
		<div class="text-center" >
		  <h1><b><u>Mission to Mars</u></b></h1>
		  <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
		</div>
			  <hr>
		<div class = "row row-grid">
		  <div class = "col-md-12">
			<div class = "col-md-12">
			  <h2><b><u>Latest Mars News</u></b></h2>
			  <h4><b>{{ Mars.NASA_Mars_News_Title }}</b></h4>
			  <p>{{ Mars.NASA_Mars_News_Para }}</p>
			  <hr>
			</div>
		  <div class = "col-md-12">  
			<div class = "col-md-7">
			  <img src="{{ Mars.Featured_Image_url }}" alt="Mars Featured Image" align="left" width = 100%>
			</div>
			<div class = "col-md-5">
			  <h2><b><u>Current Weather on Mars</u></b></h2>
			  <br>
			</div>
			<div class = "col-md-5">
			  <p>{{ Mars.Mars_Weather }}</p>
			  <hr>
			</div>
			<div class = "col-md-5"> 
			<br><br><text align="center">
			  <h2><b><u>Mars Facts</u></b></h2>
			  <br>
			</div>
			<div class = "col-md-5">
			  <center>
			  <p>{{Mars.Mars_Facts_table_html | safe}}</p>
			  </center>
			  
			</div>	
		  </div>
		  </div>
	  </div>
      <div class = "col-md-12">
        <hr>
        <h1><b><u>Mars Hemispheres</u></b></h1>
      </div>
      <div class = "col-md-12">   
          {% for x in Mars.Prod_Title_Img_Url %}
            <div class = "col-md-6">
              <img src = "{{x.Img_url}}" alt ="{{x.Title}}" width=100%>
              <h4><b>{{x.Title}}</b></h4>
            </div>
          {% endfor %}
      </div>
    </div>        
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
        </script>
</body>

</html>